<div class="container">

    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">لیست پیشنهادات که منظور شده است</h5>
        </div>
        
        <div class="card-body">
            
            <div class="datatable-scroll">
                <table id="example" class="display table datatable-column-search-inputs dataTable no-footer" style="width:95%">
                    <thead>
                        <tr>
                            <th><input type="text" class="form-control" placeholder="Search Name" /></th>
                            <th><input type="text" class="form-control" placeholder="Search Father" /></th>
                            <th><input type="text" class="form-control" placeholder="Search Degree" /></th>
                            <th><input type="text" class="form-control" placeholder="Search Management" /></th>
                            <th><input type="text" class="form-control" placeholder="Search Date" /></th>
                            <th><input type="text" class="form-control" placeholder="Search Purpose" /></th>
                        </tr>
                        <tr>
                            <th>First name</th>
                            <th>Father name</th>
                            <th>degree</th>
                            <th>management</th>
                            <th>command date</th>
                            <th>purpose</th>
                        </tr>
                    </thead>
                </table>
            </div>
                
        </div>
    </div>
    <!-- ... -->
</div>
        


</div>