<div class="container">

    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">لیست پیشنهادات که منظور شده است</h5>
        </div>
        
        <div class="card-body">
            
            <div class="datatable-scroll">
                <table id="example" class="display table datatable-column-search-inputs dataTable no-footer" style="width:95%">
                    <thead>
                        <tr>
                            <th><input type="text" class="form-control" placeholder="جستجو با نام" /></th>
                            <th><input type="text" class="form-control" placeholder="جستجو با پدر" /></th>
                            <th><input type="text" class="form-control" placeholder="جستجو با بست" /></th>
                            <th><input type="text" class="form-control" placeholder="جستجو با مدیریت" /></th>
                            <th><input type="text" class="form-control" placeholder="جستجو با حکم" /></th>
                            <th><input type="text" class="form-control" placeholder="جستجو با نوع اسناد" /></th>
                        </tr>
                        <tr>
                            <th>نام</th>
                            <th>پدر</th>
                            <th>بست</th>
                            <th>مدیریت</th>
                            <th>تاریخ حکم</th>
                            <th>نوع اسناد</th>
                        </tr>
                    </thead>
                </table>
            </div>
                
        </div>
    </div>
    <!-- ... -->
</div>
        


</div>