<table id="example" class="display" style="width:100%">
    <thead>
      <tr> <!-- New row for search inputs -->
        <th><input type="text" placeholder="Search Name" /></th>
        <th><input type="text" placeholder="Search Father" /></th>
        <th><input type="text" placeholder="Search Degree" /></th>
        <th><input type="text" placeholder="Search Management" /></th>
        <th><input type="text" placeholder="Search Date" /></th>
        <th><input type="text" placeholder="Search Purpose" /></th>
      </tr>
        <tr>
            <th>First name</th>
            <th>Father name</th>
            <th>degree</th>
            <th>management</th>
            <th>command date</th>
            <th>purpose</th>
        </tr>
       
  
    </thead>
    <tfoot>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
    </tfoot>
</table>

<script type="module" src="../public/assets_inner/js/custom.js"></script>