<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <table id="example" class="display" style="width:100%">
      <thead>
        <tr> <!-- New row for search inputs -->
          <th><input type="text" placeholder="Search Name" /></th>
          <th><input type="text" placeholder="Search Father" /></th>
          <th><input type="text" placeholder="Search Degree" /></th>
          <th><input type="text" placeholder="Search Management" /></th>
          <th><input type="text" placeholder="Search Date" /></th>
          <th><input type="text" placeholder="Search Purpose" /></th>
        </tr>
          <tr>
              <th>First name</th>
              <th>Father name</th>
              <th>degree</th>
              <th>management</th>
              <th>command date</th>
              <th>purpose</th>
          </tr>
         
    
      </thead>
      <tfoot>
          <tr>
              <th>First name</th>
              <th>Last name</th>
              <th>Position</th>
              <th>Office</th>
              <th>Start date</th>
              <th>Salary</th>
          </tr>
      </tfoot>
  </table>
  </body>
  <script>
    $(document).ready(function() {
        var table = $('#example').DataTable({
          processing: true,
          serverSide: true,
          ajax: "/api/customers",  // API endpoint to fetch data
            columns: [
                { data: 'name' ,defaultContent : ""},
                { data: 'father_name' ,defaultContent : ""},
                { data: 'degree' ,defaultContent : ""},
                { data: 'management' ,defaultContent : ""},
                { data: 'document.command_date' ,defaultContent : ""},
                { data: 'purpose' ,defaultContent : ""}
            ]
        });

        // Debouncing function for decreaseing server load on every key change
    const debounce = (func, delay) => {
        let debounceTimer;
        return function() {
            clearTimeout(debounceTimer);
            debounceTimer = setTimeout(() => func.apply(this, arguments), delay);
        };
    }

        
            // Apply search on input event
        $('#example thead input').on('keyup change', debounce(function() {
            table
                .column($(this).parent().index())
                .search(this.value)
                .draw();
        },300)); //300ms delay instead of every change packet send to server in every 300ms send one packet
    });
</script>

</html>
