<!-- Content area -->
<div class="content container pt-0 fields">
  <form action="">
    <div class="input-group">
        <label class="input-group-text" for="inputGroupSelect01">نوعیت اسناد</label>
        <select class="form-select" id="inputGroupSelect01">
            <option selected>انتخاب...</option>
            <option value="1">پیشنهاد</option>
            <option value="2">مکتوب</option>
            <option value="3">P2</option>
        </select>
        <label for="command_number" class="input-group-text">نمبر حکم</label>
        <input type="number" step="100" id="command_number" class="form-control"/>
        <label for="command_number" class="input-group-text">تاریخ حکم</label>
        <input type="date" id="command_date" class="form-control"/>
        <input type="file" class="form-control" style="width: 130px;" value="" onclick="getValue()" on id="doc">
    </div>

    <div class="input-group mt-2">
        <label for="father_name" class="input-group-text">ریاست</label>
        <input type="text" id="Last name" class="form-control" />
        <label for="father_name" class="input-group-text">مدیریت</label>
        <input type="text" id="Last name" class="form-control" />
        <label class="input-group-text" for="inputGroupSelect01">هدف</label>
        <select class="form-select" id="inputGroupSelect01">
            <option selected>انتخاب...</option>
            <option value="1">تقرر</option>
            <option value="2">تبدل</option>
            <option value="3">انفکاک</option>
            <option value="4">غیابت</option>
        </select>
        <label class="input-group-text" for="inputGroupSelect01">بست</label>
        <select class="form-select" id="inputGroupSelect01">
            <option selected>انتخاب...</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="NTA">NTA</option>
        </select>
    </div>
    
    <div class="input-group mt-2 position-relative">
        <span class="position-absolute top-50 end-100 translate-middle px-2 py-1 btn btn-outline-danger rounded-circle">1</span>
        <label for="name" class="input-group-text">نام</label>
        <input type="text" aria-label="Last name" class="form-control" />
        <label for="father_name" class="input-group-text">نام پدر</label>
        <input type="text" id="father_name" class="form-control" />
    </div>

    <div class="mt-2 add">
        <button type="button" class="btn btn-outline-info user">اضافه کردن مشخصات یوزر</button>
        <button type="button" class="btn btn-outline-purple director">اضافه کردن مشخصات یوزر برعلاوه ریاست</button>
    </div>
    <div class="mt-2">
        <button type="submit" class="btn btn-success">ذخیره</button>
    </div>
</form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
    var i = 2;
    
    $('.user').click(function() {
        var user = `<div class="input-group mt-2"><label for="name" class="input-group-text">نام</label><input type="text" aria-label="Last name" class="form-control" /><label for="father_name" class="input-group-text">نام پدر</label><input type="text" id="father_name" class="form-control" /></div>`;
        minusButton = `<span class="position-absolute top-50 end-100 translate-middle px-2 py-1 btn btn-outline-danger rounded-circle delete-field">${i}</span>`;
        var temp = $(user).insertBefore('.add');
        temp.prepend(minusButton)
        i++;
        

        $('.fields').on('click', '.delete-field', function(){
            $(this).parent().remove();
        });
    });

    
    
    $('.director').click(function() {
        var director = `<div class="delete-director position-relative"><div class="input-group mt-2">
        <label for="father_name" class="input-group-text">ریاست</label>
        <input type="text" id="Last name" class="form-control" />
        <label for="father_name" class="input-group-text">مدیریت</label>
        <input type="text" id="Last name" class="form-control" />
        <label class="input-group-text" for="inputGroupSelect01">هدف</label>
        <select class="form-select" id="inputGroupSelect01">
            <option selected>انتخاب...</option>
            <option value="1">تقرر</option>
            <option value="2">تبدل</option>
            <option value="3">انفکاک</option>
            <option value="4">غیابت</option>
        </select>
        <label class="input-group-text" for="inputGroupSelect01">بست</label>
        <select class="form-select" id="inputGroupSelect01">
            <option selected>انتخاب...</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="NTA">NTA</option>
        </select>
    </div>
    
    <div class="input-group mt-2 position-relative">
        <label for="name" class="input-group-text">نام</label>
        <input type="text" aria-label="Last name" class="form-control" />
        <label for="father_name" class="input-group-text">نام پدر</label>
        <input type="text" id="father_name" class="form-control" />
    </div></div>`;
        minusButton = `<span class="position-absolute top-50 end-100 translate-middle px-2 py-1 btn btn-outline-danger rounded-circle delete-director">${i}</span>`;
        var temp = $(director).insertBefore('.add');
        temp.prepend(minusButton);
        i++;
        
        $('.fields').on('click', '.delete-director', function(){
            $(this).closest('.delete-director').remove();
        });
    });

</script>



<!-- <script>
    $(document).ready(function () {
        $(".add").on("click",function () {
            let html = "<input type='text' class='form-control' value='hello world'>";
            $(".add").after(html);
        })
    })
</script> -->

<!-- /content area -->
<!-- <script>
    function getValue() {
        let command_number = document.getElementById("command_number").value;
        let command_date = document.getElementById("command_date").value;
        let doc = command_number.concat("-",command_date,".pdf");
        document.getElementById("doc").innerHTML = doc;
    }
</script> -->


<!-- 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <div>
        <button class="add-more btn btn-success">ADD</button>
        <button class="remove">remove</button>
        <div class="after-add-more"></div>
        <div class="copy-fields">
            <input class="form-control border-top-4 border-black" type="text" />
            <input class="btn btn-primary" type="button" />
        </div>
        <button class="btn btn-primary copy-fields">button</button>
    </div>

    <script>
        $(document).ready(function () {
            $(".add-more").on('click', function () {
                var html = $(".copy-fields").clone();
                $(".after-add-more").after(html[0]);
            });
        });
    </script>
</body>

</html> -->
